<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFavvOFlk8QODctYa45sptspMHIFfaCuw</string>
	<key>GCM_SENDER_ID</key>
	<string>39640002316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hospitalManagement</string>
	<key>PROJECT_ID</key>
	<string>hospital-management-app-d93cf</string>
	<key>STORAGE_BUCKET</key>
	<string>hospital-management-app-d93cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39640002316:ios:17a8d7b265035ae98de329</string>
</dict>
</plist>